@use "./ui/buttons/buttons";
@use "./ui/header/header";
@use "./ui/footer/footer";
@use "./ui/media/media";
@use "./utils/sticky-h2/sticky-h2";
@use "./utils/mixins-other/aspect-ratios";
// @use "./utils/mixins-other/screen-widths" as s-w;
@use "./utils/size-spacing/nums-size-space" as n-s-s;
@use "./utils/size-spacing/page-padding";
@use "./utils/text-styling/text-styling";
@use "./utils/variables/variables-global";
@use "./ui/buffer-page/buffer-page";
@use "./ui/buffer-visual/buffer-visual";
@use "./ui/case-study-previews/case-study-previews-styling";
@use "./ui/list-of-contents/loc-styling";
@use "./ui/main-content/main-content-styling";
@use "./ui/placeholders/placeholders";
@use "./ui/section-containers/sections-case-studies";
@use "./ui/section-containers/sections-main-page";
@use "./ui/section-containers/sections-widgets";
@use "./ui/email-form/custom-toast-message";
// @use "./ui/placeholders/placeholders-test";
// @use "./ui/placeholders/button-placeholder";
// @use "./ui/placeholders/figure-placeholder";

body {
    margin: 0;
}

.width100 {
    width: 100%;
}

.lineHeight-1 {
    line-height: 1;
}

.paddingB-0 {
    padding-bottom: 0;
}

.paddingB-16 {
    padding-bottom: map-get(n-s-s.$size-space, "m");
}

.height-auto {
    height: auto;
}
