/* 
    UPDATE COMMENT

    This Sass variable creates a map key value pairs, where each pair consists of the following:
    - the expression on the left represents a key
    - the expression on the right is value associated with that key

    In this case, the values on the right represent the corresponding values for hue, saturation, and lightness 
    of the color names on the left, which are the exact colors intended for usage in the visual 
    appearance of text, buttons, and other visual elements.
    For example "darkBlue" is a key that is a color name, and "hsl(" is a hexcode value that is 
    associated with "darkBlue".

    The map below is used for a simple, but reproducible function called "color($colorName)" that 
    can be used to clearly communicate which color is being to for one or more selected elements.

    This map can be expanded to include more colors other than the ones already listed, and the 
    hexcode values can be conveniently changed so that all elements that uses the same color will 
    have their colors updated to reflect this change.

    For more information on maps and key-value pairs, copy and paste this URL on an article about 
    maps from the Sass official website: https://sass-lang.com/documentation/values/maps/
*/
/*
    UPDATE COMMENT
    This function uses the map from the "$colors" variable to return the desired color included from 
    the map.

    The mapping of color names is necessary to avoid confusion from using color hexcodes on which 
    colors each element is using and to make the code usage of the CSS color property reproducible, 
    more understandable, and with less repetitive code.
*/
/*
    Key naming scheme is analogous to T-Shirt sizing:
        2xs = xxs = extra extra small
        xs = extra small
        s = small
        sm = small medium
        m = medium
        ml = medium large
        l = large
        xl = extra large
        2xl = extra extra large
        [n]xl = [number of xs] extra large
*/
/* Inset applies to the padding of an element. */
/* Stack applies to bottom vertical space (mainly between elements or establishing negative space). */
/* Inline applies to right horizontal space (mainly between elements or establishing negative space). */
/* Default inset spacing for different types of buttons.*/
/*
    These three mixins makes a container of code reusable for specifying the minimum 
    and/or maximum width condition(s) to apply the CSS properties and values.
        - "mediaQuery-minOnly" sets up a media query for only the minimum width used in the media query's condition.
          - "mediaQuery-maxOnly" sets up a media query for only the maximum width used in the media query's condition.
          - "mediaQuery-minMax" sets up a media query for a range between the minimum and maximum widths used in the media query's condition.

    These mixins uses two or three of the following:
        - "$min" is a variable used as this mixin's argument to specify the number value for the minimum width used in the media query's condition.
        - "$max" is a variable used as this mixin's argument to specify the number value for the maximum width used in the media query's condition.
        - "@content" is a Sass directive that allows flexibile input of different CSS properties and values, whether to apply the same properties for multiple elements or tailor different properties to specific elements.
*/
/* 
    Values for different screen width breakpoints.
    bp = breakpoint, mb = mobile, dt = desktop, s = small, l = large
*/
/*
    Placeholder selector used for the html element to set the default transition time to 0.25 seconds
    with an ease-in and ease-out transition smoothness.
*/
/*
    Placeholder selector to set the default background color of the entire page (html element) and 
    the navigation header to light blue using the color function.
*/
main, footer, article.h2-wrapper {
  z-index: 3;
}

aside[role=navigation], aside[role=navigation] > button, .h2-wrapper, h2.sticky {
  z-index: 4;
}

header, header * {
  z-index: 5 !important;
}

.buffer-page, .loading-page {
  z-index: 999;
}

/*
    This mixin is used to position and wrap children elements relative to the parent container element. It takes the following arguments to define flexbox properties for container elements:
        1. Sets the display to flex (essential for any of the other flex properties to function as intended).
        2. Enables/disables the wrapping of the children elements based on the "$flexWrap" variable argument.
            - "wrap" to have the children elements populate within the space 
              of the container
            - "nowrap" to have the children elements instead populate within 
              the same row/column
        3. Sets the orientation of the wrapping, whether in a row or column. This is based on the "$flexDirection" variable argument.
        4. Sets the starting position of each children element relative to the container element. This is based on the "$alignItems" variable argument:
            - "flex-start" to start from the beginning portion of the container
            - "center" to start from the middle portion
            - "flex-end" to start from the bottom portion
            - "stretch" to take up the available space of the container
        - Sets the positioning of all children elements relative to the container element. This is based on the "$alignContent" variable argument:
            - "flex-start" to orient all the children elements from the 
              beginning portion of the container
            - "center" to orient all the children elements from the middle portion
            - "flex-end" to orient all the children elements from the bottom portion
            - "stretch" to take up the available space of the container
        - Sets the alignment of all children elements when they don't take up all of the available space in the container. This is based on the "$justifyContent" variable argument.

*/
/*
  Placeholder selectors for the flex display of a container:
    - column flex direction, wrapping along the column for
      children elements, top-left starting point and alignment
      of children elements and text
*/
/*
        - same as previous, except no wrapping of children elements
*/
/*
        - column flex direction, wrapping, center starting point
          and alignment of children elements and text
*/
/*
        - same as previous, except no wrapping of children elements
*/
/*
        - row flex direction, wrapping, top-left starting point 
          and alignment of children elements and text
*/
/*
        - same as previous, except no wrapping of children elements
*/
/*
        - row flex direction, wrapping, center starting point
          and alignment of children elements and text
*/
.placeholder.span, .placeholder.span > .placeholder-line-span, .placeholder.figcaption, .placeholder.figcaption .placeholder-line-figcaption {
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  align-content: center;
  justify-content: center;
}

/*
        - row flex direction, wrapping, right starting point
          and alignment of children elements and text
*/
@keyframes pulse {
  0% {
    opacity: 0.6;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.6;
  }
}
.fade-in {
  animation: fadeIn 0s;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.hidden {
  display: none;
}

.placeholder .placeholder-line, .placeholder.h4 .placeholder-line-h4, .placeholder.h3 .placeholder-line-h3, .placeholder.h2 .placeholder-line-h2, .placeholder.h1 .placeholder-line-h1, .placeholder.figcaption .placeholder-line-figcaption, .placeholder.span > .placeholder-line-span, .placeholder.subtitle .placeholder-line-subtitle, .placeholder.p .placeholder-line-p {
  border-radius: 8px;
}
.placeholder.p {
  min-width: 100px;
  width: 100%;
}
@media only screen and (max-width: 1024px) {
  .placeholder.p > .placeholder-line-p {
    height: 24.3px;
    line-height: 1.6;
    padding-bottom: 6.3;
    background-color: hsl(0, 0%, 70%);
    animation: pulse 1.5s infinite;
  }
}
@media only screen and (min-width: 1024px) {
  .placeholder.p > .placeholder-line-p {
    height: 27px;
    line-height: 1.6;
    padding-bottom: 7;
    background-color: hsl(0, 0%, 70%);
    animation: pulse 1.5s infinite;
  }
}
@media only screen and (max-width: 1024px) {
  .placeholder.subtitle > .placeholder-line-subtitle {
    height: 27.2px;
    line-height: 1.5;
    padding-bottom: 7.2;
    background-color: hsl(0, 0%, 70%);
    animation: pulse 1.5s infinite;
  }
}
@media only screen and (min-width: 1024px) {
  .placeholder.subtitle > .placeholder-line-subtitle {
    height: 32px;
    line-height: 1.5;
    padding-bottom: 8;
    background-color: hsl(0, 0%, 70%);
    animation: pulse 1.5s infinite;
  }
}
.placeholder.span {
  width: 64px;
}
@media only screen and (max-width: 1024px) {
  .placeholder.span > .placeholder-line-span {
    height: 16px;
    line-height: 1.5;
    padding-bottom: 0;
    background-color: hsl(0, 0%, 70%);
    animation: pulse 1.5s infinite;
  }
}
@media only screen and (min-width: 1024px) {
  .placeholder.span > .placeholder-line-span {
    height: 16px;
    line-height: 1.5;
    padding-bottom: 0;
    background-color: hsl(0, 0%, 70%);
    animation: pulse 1.5s infinite;
  }
}
.placeholder.span > .placeholder-line-span {
  width: 100px;
}
.placeholder.figcaption {
  max-width: 100%;
  width: 750px;
}
@media only screen and (max-width: 1024px) {
  .placeholder.figcaption > .placeholder-line-figcaption {
    height: 28px;
    line-height: 1.5;
    padding-bottom: 12;
    background-color: hsl(0, 0%, 70%);
    animation: pulse 1.5s infinite;
  }
}
@media only screen and (min-width: 1024px) {
  .placeholder.figcaption > .placeholder-line-figcaption {
    height: 28px;
    line-height: 1.5;
    padding-bottom: 12;
    background-color: hsl(0, 0%, 70%);
    animation: pulse 1.5s infinite;
  }
}
.placeholder.h1, .placeholder.h2 {
  width: 100%;
}
@media only screen and (max-width: 1024px) {
  .placeholder.h1 > .placeholder-line-h1 {
    height: 61.5px;
    line-height: 1.2;
    padding-bottom: 13.5;
    background-color: hsla(215, 60%, 44%, 0.65);
    animation: pulse 1.5s infinite;
  }
}
@media only screen and (min-width: 1024px) {
  .placeholder.h1 > .placeholder-line-h1 {
    height: 95px;
    line-height: 1.2;
    padding-bottom: 15;
    background-color: hsla(215, 60%, 44%, 0.65);
    animation: pulse 1.5s infinite;
  }
}
@media only screen and (max-width: 1024px) {
  .placeholder.h2 > .placeholder-line-h2 {
    height: 47.7px;
    line-height: 1.25;
    padding-bottom: 11.7;
    background-color: hsla(215, 60%, 44%, 0.65);
    animation: pulse 1.5s infinite;
  }
}
@media only screen and (min-width: 1024px) {
  .placeholder.h2 > .placeholder-line-h2 {
    height: 65px;
    line-height: 1.25;
    padding-bottom: 13;
    background-color: hsla(215, 60%, 44%, 0.65);
    animation: pulse 1.5s infinite;
  }
}
@media only screen and (max-width: 1024px) {
  .placeholder.h3 > .placeholder-line-h3 {
    height: 37.9px;
    line-height: 1.3;
    padding-bottom: 9.9;
    background-color: hsla(21, 55%, 37%, 0.65);
    animation: pulse 1.5s infinite;
  }
}
@media only screen and (min-width: 1024px) {
  .placeholder.h3 > .placeholder-line-h3 {
    height: 47px;
    line-height: 1.3;
    padding-bottom: 11;
    background-color: hsla(21, 55%, 37%, 0.65);
    animation: pulse 1.5s infinite;
  }
}
@media only screen and (max-width: 1024px) {
  .placeholder.h4 > .placeholder-line-h4 {
    height: 32.1px;
    line-height: 1.35;
    padding-bottom: 8.1;
    background-color: hsl(0, 0%, 70%);
    animation: pulse 1.5s infinite;
  }
}
@media only screen and (min-width: 1024px) {
  .placeholder.h4 > .placeholder-line-h4 {
    height: 33px;
    line-height: 1.35;
    padding-bottom: 9;
    background-color: hsl(0, 0%, 70%);
    animation: pulse 1.5s infinite;
  }
}
.placeholder.input {
  width: 100%;
  height: 42px;
  border-radius: 8px;
}
.placeholder.input-expandable {
  width: 100%;
  height: 84px;
  border-radius: 8px;
}
.placeholder.lines-0 .placeholder-line:nth-child(n), .placeholder.lines-0 .placeholder.subtitle .placeholder-line-subtitle:nth-child(n), .placeholder.subtitle .placeholder.lines-0 .placeholder-line-subtitle:nth-child(n), .placeholder.lines-0 .placeholder.span > .placeholder-line-span:nth-child(n), .placeholder.lines-0 .placeholder-line-p:nth-child(n), .placeholder.lines-0 .placeholder-line-h1:nth-child(n), .placeholder.lines-0 .placeholder-line-h2:nth-child(n), .placeholder.lines-0 .placeholder-line-h3:nth-child(n), .placeholder.lines-0 .placeholder-line-h4:nth-child(n), .placeholder.lines-0 .placeholder-line-figcaption:nth-child(n) {
  width: 100%;
}
.placeholder.lines-1 .placeholder-line:nth-child(n), .placeholder.lines-1 .placeholder.subtitle .placeholder-line-subtitle:nth-child(n), .placeholder.subtitle .placeholder.lines-1 .placeholder-line-subtitle:nth-child(n), .placeholder.lines-1 .placeholder.span > .placeholder-line-span:nth-child(n), .placeholder.lines-1 .placeholder-line-p:nth-child(n), .placeholder.lines-1 .placeholder-line-h1:nth-child(n), .placeholder.lines-1 .placeholder-line-h2:nth-child(n), .placeholder.lines-1 .placeholder-line-h3:nth-child(n), .placeholder.lines-1 .placeholder-line-h4:nth-child(n), .placeholder.lines-1 .placeholder-line-figcaption:nth-child(n) {
  width: 100%;
}
.placeholder.lines-2 .placeholder-line:nth-child(n), .placeholder.lines-2 .placeholder.subtitle .placeholder-line-subtitle:nth-child(n), .placeholder.subtitle .placeholder.lines-2 .placeholder-line-subtitle:nth-child(n), .placeholder.lines-2 .placeholder.span > .placeholder-line-span:nth-child(n), .placeholder.lines-2 .placeholder-line-p:nth-child(n), .placeholder.lines-2 .placeholder-line-h1:nth-child(n), .placeholder.lines-2 .placeholder-line-h2:nth-child(n), .placeholder.lines-2 .placeholder-line-h3:nth-child(n), .placeholder.lines-2 .placeholder-line-h4:nth-child(n), .placeholder.lines-2 .placeholder-line-figcaption:nth-child(n) {
  width: 100%;
}
.placeholder.lines-3 .placeholder-line:nth-child(n), .placeholder.lines-3 .placeholder.subtitle .placeholder-line-subtitle:nth-child(n), .placeholder.subtitle .placeholder.lines-3 .placeholder-line-subtitle:nth-child(n), .placeholder.lines-3 .placeholder.span > .placeholder-line-span:nth-child(n), .placeholder.lines-3 .placeholder-line-p:nth-child(n), .placeholder.lines-3 .placeholder-line-h1:nth-child(n), .placeholder.lines-3 .placeholder-line-h2:nth-child(n), .placeholder.lines-3 .placeholder-line-h3:nth-child(n), .placeholder.lines-3 .placeholder-line-h4:nth-child(n), .placeholder.lines-3 .placeholder-line-figcaption:nth-child(n) {
  width: 100%;
}
.placeholder.lines-4 .placeholder-line:nth-child(n), .placeholder.lines-4 .placeholder.subtitle .placeholder-line-subtitle:nth-child(n), .placeholder.subtitle .placeholder.lines-4 .placeholder-line-subtitle:nth-child(n), .placeholder.lines-4 .placeholder.span > .placeholder-line-span:nth-child(n), .placeholder.lines-4 .placeholder-line-p:nth-child(n), .placeholder.lines-4 .placeholder-line-h1:nth-child(n), .placeholder.lines-4 .placeholder-line-h2:nth-child(n), .placeholder.lines-4 .placeholder-line-h3:nth-child(n), .placeholder.lines-4 .placeholder-line-h4:nth-child(n), .placeholder.lines-4 .placeholder-line-figcaption:nth-child(n) {
  width: 100%;
}
.placeholder.lines-5 .placeholder-line:nth-child(n), .placeholder.lines-5 .placeholder.subtitle .placeholder-line-subtitle:nth-child(n), .placeholder.subtitle .placeholder.lines-5 .placeholder-line-subtitle:nth-child(n), .placeholder.lines-5 .placeholder.span > .placeholder-line-span:nth-child(n), .placeholder.lines-5 .placeholder-line-p:nth-child(n), .placeholder.lines-5 .placeholder-line-h1:nth-child(n), .placeholder.lines-5 .placeholder-line-h2:nth-child(n), .placeholder.lines-5 .placeholder-line-h3:nth-child(n), .placeholder.lines-5 .placeholder-line-h4:nth-child(n), .placeholder.lines-5 .placeholder-line-figcaption:nth-child(n) {
  width: 100%;
}
.placeholder.lines-6 .placeholder-line:nth-child(n), .placeholder.lines-6 .placeholder.subtitle .placeholder-line-subtitle:nth-child(n), .placeholder.subtitle .placeholder.lines-6 .placeholder-line-subtitle:nth-child(n), .placeholder.lines-6 .placeholder.span > .placeholder-line-span:nth-child(n), .placeholder.lines-6 .placeholder-line-p:nth-child(n), .placeholder.lines-6 .placeholder-line-h1:nth-child(n), .placeholder.lines-6 .placeholder-line-h2:nth-child(n), .placeholder.lines-6 .placeholder-line-h3:nth-child(n), .placeholder.lines-6 .placeholder-line-h4:nth-child(n), .placeholder.lines-6 .placeholder-line-figcaption:nth-child(n) {
  width: 100%;
}
.placeholder.lines-7 .placeholder-line:nth-child(n), .placeholder.lines-7 .placeholder.subtitle .placeholder-line-subtitle:nth-child(n), .placeholder.subtitle .placeholder.lines-7 .placeholder-line-subtitle:nth-child(n), .placeholder.lines-7 .placeholder.span > .placeholder-line-span:nth-child(n), .placeholder.lines-7 .placeholder-line-p:nth-child(n), .placeholder.lines-7 .placeholder-line-h1:nth-child(n), .placeholder.lines-7 .placeholder-line-h2:nth-child(n), .placeholder.lines-7 .placeholder-line-h3:nth-child(n), .placeholder.lines-7 .placeholder-line-h4:nth-child(n), .placeholder.lines-7 .placeholder-line-figcaption:nth-child(n) {
  width: 100%;
}
.placeholder.lines-8 .placeholder-line:nth-child(n), .placeholder.lines-8 .placeholder.subtitle .placeholder-line-subtitle:nth-child(n), .placeholder.subtitle .placeholder.lines-8 .placeholder-line-subtitle:nth-child(n), .placeholder.lines-8 .placeholder.span > .placeholder-line-span:nth-child(n), .placeholder.lines-8 .placeholder-line-p:nth-child(n), .placeholder.lines-8 .placeholder-line-h1:nth-child(n), .placeholder.lines-8 .placeholder-line-h2:nth-child(n), .placeholder.lines-8 .placeholder-line-h3:nth-child(n), .placeholder.lines-8 .placeholder-line-h4:nth-child(n), .placeholder.lines-8 .placeholder-line-figcaption:nth-child(n) {
  width: 100%;
}
.placeholder.lines-9 .placeholder-line:nth-child(n), .placeholder.lines-9 .placeholder.subtitle .placeholder-line-subtitle:nth-child(n), .placeholder.subtitle .placeholder.lines-9 .placeholder-line-subtitle:nth-child(n), .placeholder.lines-9 .placeholder.span > .placeholder-line-span:nth-child(n), .placeholder.lines-9 .placeholder-line-p:nth-child(n), .placeholder.lines-9 .placeholder-line-h1:nth-child(n), .placeholder.lines-9 .placeholder-line-h2:nth-child(n), .placeholder.lines-9 .placeholder-line-h3:nth-child(n), .placeholder.lines-9 .placeholder-line-h4:nth-child(n), .placeholder.lines-9 .placeholder-line-figcaption:nth-child(n) {
  width: 100%;
}
.placeholder.lines-10 .placeholder-line:nth-child(n), .placeholder.lines-10 .placeholder.subtitle .placeholder-line-subtitle:nth-child(n), .placeholder.subtitle .placeholder.lines-10 .placeholder-line-subtitle:nth-child(n), .placeholder.lines-10 .placeholder.span > .placeholder-line-span:nth-child(n), .placeholder.lines-10 .placeholder-line-p:nth-child(n), .placeholder.lines-10 .placeholder-line-h1:nth-child(n), .placeholder.lines-10 .placeholder-line-h2:nth-child(n), .placeholder.lines-10 .placeholder-line-h3:nth-child(n), .placeholder.lines-10 .placeholder-line-h4:nth-child(n), .placeholder.lines-10 .placeholder-line-figcaption:nth-child(n) {
  width: 100%;
}
.placeholder.lines-11 .placeholder-line:nth-child(n), .placeholder.lines-11 .placeholder.subtitle .placeholder-line-subtitle:nth-child(n), .placeholder.subtitle .placeholder.lines-11 .placeholder-line-subtitle:nth-child(n), .placeholder.lines-11 .placeholder.span > .placeholder-line-span:nth-child(n), .placeholder.lines-11 .placeholder-line-p:nth-child(n), .placeholder.lines-11 .placeholder-line-h1:nth-child(n), .placeholder.lines-11 .placeholder-line-h2:nth-child(n), .placeholder.lines-11 .placeholder-line-h3:nth-child(n), .placeholder.lines-11 .placeholder-line-h4:nth-child(n), .placeholder.lines-11 .placeholder-line-figcaption:nth-child(n) {
  width: 100%;
}
.placeholder.lines-12 .placeholder-line:nth-child(n), .placeholder.lines-12 .placeholder.subtitle .placeholder-line-subtitle:nth-child(n), .placeholder.subtitle .placeholder.lines-12 .placeholder-line-subtitle:nth-child(n), .placeholder.lines-12 .placeholder.span > .placeholder-line-span:nth-child(n), .placeholder.lines-12 .placeholder-line-p:nth-child(n), .placeholder.lines-12 .placeholder-line-h1:nth-child(n), .placeholder.lines-12 .placeholder-line-h2:nth-child(n), .placeholder.lines-12 .placeholder-line-h3:nth-child(n), .placeholder.lines-12 .placeholder-line-h4:nth-child(n), .placeholder.lines-12 .placeholder-line-figcaption:nth-child(n) {
  width: 100%;
}
.placeholder.lines-13 .placeholder-line:nth-child(n), .placeholder.lines-13 .placeholder.subtitle .placeholder-line-subtitle:nth-child(n), .placeholder.subtitle .placeholder.lines-13 .placeholder-line-subtitle:nth-child(n), .placeholder.lines-13 .placeholder.span > .placeholder-line-span:nth-child(n), .placeholder.lines-13 .placeholder-line-p:nth-child(n), .placeholder.lines-13 .placeholder-line-h1:nth-child(n), .placeholder.lines-13 .placeholder-line-h2:nth-child(n), .placeholder.lines-13 .placeholder-line-h3:nth-child(n), .placeholder.lines-13 .placeholder-line-h4:nth-child(n), .placeholder.lines-13 .placeholder-line-figcaption:nth-child(n) {
  width: 100%;
}
.placeholder.lines-14 .placeholder-line:nth-child(n), .placeholder.lines-14 .placeholder.subtitle .placeholder-line-subtitle:nth-child(n), .placeholder.subtitle .placeholder.lines-14 .placeholder-line-subtitle:nth-child(n), .placeholder.lines-14 .placeholder.span > .placeholder-line-span:nth-child(n), .placeholder.lines-14 .placeholder-line-p:nth-child(n), .placeholder.lines-14 .placeholder-line-h1:nth-child(n), .placeholder.lines-14 .placeholder-line-h2:nth-child(n), .placeholder.lines-14 .placeholder-line-h3:nth-child(n), .placeholder.lines-14 .placeholder-line-h4:nth-child(n), .placeholder.lines-14 .placeholder-line-figcaption:nth-child(n) {
  width: 100%;
}
.placeholder.lines-15 .placeholder-line:nth-child(n), .placeholder.lines-15 .placeholder.subtitle .placeholder-line-subtitle:nth-child(n), .placeholder.subtitle .placeholder.lines-15 .placeholder-line-subtitle:nth-child(n), .placeholder.lines-15 .placeholder.span > .placeholder-line-span:nth-child(n), .placeholder.lines-15 .placeholder-line-p:nth-child(n), .placeholder.lines-15 .placeholder-line-h1:nth-child(n), .placeholder.lines-15 .placeholder-line-h2:nth-child(n), .placeholder.lines-15 .placeholder-line-h3:nth-child(n), .placeholder.lines-15 .placeholder-line-h4:nth-child(n), .placeholder.lines-15 .placeholder-line-figcaption:nth-child(n) {
  width: 100%;
}
.placeholder.lines-16 .placeholder-line:nth-child(n), .placeholder.lines-16 .placeholder.subtitle .placeholder-line-subtitle:nth-child(n), .placeholder.subtitle .placeholder.lines-16 .placeholder-line-subtitle:nth-child(n), .placeholder.lines-16 .placeholder.span > .placeholder-line-span:nth-child(n), .placeholder.lines-16 .placeholder-line-p:nth-child(n), .placeholder.lines-16 .placeholder-line-h1:nth-child(n), .placeholder.lines-16 .placeholder-line-h2:nth-child(n), .placeholder.lines-16 .placeholder-line-h3:nth-child(n), .placeholder.lines-16 .placeholder-line-h4:nth-child(n), .placeholder.lines-16 .placeholder-line-figcaption:nth-child(n) {
  width: 100%;
}
.placeholder.lines-17 .placeholder-line:nth-child(n), .placeholder.lines-17 .placeholder.subtitle .placeholder-line-subtitle:nth-child(n), .placeholder.subtitle .placeholder.lines-17 .placeholder-line-subtitle:nth-child(n), .placeholder.lines-17 .placeholder.span > .placeholder-line-span:nth-child(n), .placeholder.lines-17 .placeholder-line-p:nth-child(n), .placeholder.lines-17 .placeholder-line-h1:nth-child(n), .placeholder.lines-17 .placeholder-line-h2:nth-child(n), .placeholder.lines-17 .placeholder-line-h3:nth-child(n), .placeholder.lines-17 .placeholder-line-h4:nth-child(n), .placeholder.lines-17 .placeholder-line-figcaption:nth-child(n) {
  width: 100%;
}
.placeholder.lines-18 .placeholder-line:nth-child(n), .placeholder.lines-18 .placeholder.subtitle .placeholder-line-subtitle:nth-child(n), .placeholder.subtitle .placeholder.lines-18 .placeholder-line-subtitle:nth-child(n), .placeholder.lines-18 .placeholder.span > .placeholder-line-span:nth-child(n), .placeholder.lines-18 .placeholder-line-p:nth-child(n), .placeholder.lines-18 .placeholder-line-h1:nth-child(n), .placeholder.lines-18 .placeholder-line-h2:nth-child(n), .placeholder.lines-18 .placeholder-line-h3:nth-child(n), .placeholder.lines-18 .placeholder-line-h4:nth-child(n), .placeholder.lines-18 .placeholder-line-figcaption:nth-child(n) {
  width: 100%;
}
.placeholder.lines-19 .placeholder-line:nth-child(n), .placeholder.lines-19 .placeholder.subtitle .placeholder-line-subtitle:nth-child(n), .placeholder.subtitle .placeholder.lines-19 .placeholder-line-subtitle:nth-child(n), .placeholder.lines-19 .placeholder.span > .placeholder-line-span:nth-child(n), .placeholder.lines-19 .placeholder-line-p:nth-child(n), .placeholder.lines-19 .placeholder-line-h1:nth-child(n), .placeholder.lines-19 .placeholder-line-h2:nth-child(n), .placeholder.lines-19 .placeholder-line-h3:nth-child(n), .placeholder.lines-19 .placeholder-line-h4:nth-child(n), .placeholder.lines-19 .placeholder-line-figcaption:nth-child(n) {
  width: 100%;
}
.placeholder.lines-20 .placeholder-line:nth-child(n), .placeholder.lines-20 .placeholder.subtitle .placeholder-line-subtitle:nth-child(n), .placeholder.subtitle .placeholder.lines-20 .placeholder-line-subtitle:nth-child(n), .placeholder.lines-20 .placeholder.span > .placeholder-line-span:nth-child(n), .placeholder.lines-20 .placeholder-line-p:nth-child(n), .placeholder.lines-20 .placeholder-line-h1:nth-child(n), .placeholder.lines-20 .placeholder-line-h2:nth-child(n), .placeholder.lines-20 .placeholder-line-h3:nth-child(n), .placeholder.lines-20 .placeholder-line-h4:nth-child(n), .placeholder.lines-20 .placeholder-line-figcaption:nth-child(n) {
  width: 100%;
}

.button-placeholder, figure.figure-placeholder > picture, .placeholder .placeholder-line, .placeholder.p .placeholder-line-p, .placeholder.subtitle .placeholder-line-subtitle, .placeholder.span > .placeholder-line-span, .placeholder.figcaption .placeholder-line-figcaption, .placeholder.h1 .placeholder-line-h1, .placeholder.h2 .placeholder-line-h2, .placeholder.h3 .placeholder-line-h3, .placeholder.h4 .placeholder-line-h4, .placeholder.input, .placeholder.input-expandable {
  background-color: hsl(0, 0%, 70%);
  animation: pulse 1.5s infinite;
}

.text-container {
  width: 100%;
}

figure.figure-placeholder {
  width: 100%;
  height: auto;
  border-radius: 16px;
}

figure.figure-placeholder > picture {
  width: 100%;
  height: auto;
  border-radius: 16px;
}

button > a > figure.figure-placeholder, a > figure.figure-placeholder {
  width: 24px;
  height: 24px;
}
button > a > figure.figure-placeholder > picture, a > figure.figure-placeholder > picture {
  border-radius: 8px;
}

div.figure-placeholder#e-stride {
  max-height: 450px;
  object-fit: cover;
}

.button-placeholder {
  background-color: transparent;
  position: relative;
  overflow: hidden;
  height: auto;
  border-radius: 12px;
}

a[aria-label*=placeholder] {
  cursor: default !important;
}